# ==============================
# Entorno virtual
# ==============================
venv/
.venv/

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Variables de entorno
# ==============================
.env

# ==============================
# PDFs y datos sensibles
# ==============================
*.pdf
*.xlsx
*.csv

# ==============================
# Logs y temporales
# ==============================
*.log
*.tmp

# ==============================
# Sistema operativo
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================
.vscode/
.idea/
